<!DOCTYPE html>
<html lang="en" ng-app="uol">
<head>
  <meta charset="UTF-8">
  <title>TESTE UOL - Eduardo Massami Uchida</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/estilos.css">
  <!-- <script src="/javascripts/angular.min.js"></script> -->
  <script src="/javascripts/angular.js"></script>
  <script src="/javascripts/angular-animate.min.js"></script>
  <script src="/javascripts/angular-touch.min.js"></script>
  <script src="/javascripts//angular-route.min.js"></script>
  <script src="/javascripts/angular-resource.min.js"></script>
  <script src='/javascripts/angular-upload.min.js'></script>
  <script src="/javascripts/ui-bootstrap-tpls-2.0.1.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/controller.js"></script>
  <script src="/javascripts/diretivas.js"></script>
  <script src="/javascripts/servicos.js"></script>
</head>
<body ng-controller="MyCtrl">
<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">TESTE UOL</h1>
  </div>

  <p class="alert alert-info" ng-show="mensagem.length">
    {{mensagem}}
  </p>
  
  <div class="row">
    <div class="col-md-12">
      <label class="control-label">Arquivo: </label>
      <input type="file" name="arquivo" custom-on-change="uploadFile">
      <br>
      <button type="button" class="btn btn-default" ng-click="anexa()">Anexar Arquivo</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="input-group" ng-hide="uploadedFile">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-disabled="!nomeUsuario" ng-click="buscaUsuario(nomeUsuario)">
              BUSCAR USUÁRIO
            </button>
          </span>
          <input class="form-control" ng-model="nomeUsuario" placeholder="Digite o Nome do Usuário">
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="input-group" ng-hide="uploadedFile">
            <button class="btn btn-primary" type="button" ng-click="buscaInbox()">
              MAIOR INBOX
            </button>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="input-group" ng-hide="uploadedFile">
            <button class="btn btn-primary" type="button" ng-click="buscaSize()">
              MAIOR SIZE
            </button>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12" ng-hide="uploadedFile">
      <button type="button" class="btn btn-primary" ng-click="listarUsuarios()">LISTAR USUÁRIOS</button>
      <div class="table-responsive" ng-hide="listar">
        <table class="table table-hover">
          <thead> 
            <tr><th>UserName</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in Users">
              <td>{{ user }}</td>
            </tr> 
          </tbody>
        </table>
        <ul uib-pagination total-items="bigTotalItems" ng-model="currentPage" items-per-page="maxSize" max-size="3" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
        <pre>Página: {{currentPage}} / {{numPages()}}</pre>
      </div>
    </div>
  </div>
</container>
</body>
</html>